{% extends "./base.html" %}

{% block tittle %} Inicio de Sesión {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<form class="form-signin w-100 m-auto" action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <img class="mb-4" src="{{ url_for('static', filename='img/icon.png') }}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Inicio de sesi&oacute;n</h1>
    
    <div class="form-floating">
      <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" minlength="4" maxlength="28" required>
      <label for="usuario">Usuario</label>
    </div>
    <br/>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="3" maxlength="28" required>
      <label for="password">Password</label>
    </div>
    <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a>.</p>
    <button class="btn btn-primary w-100 py-2" type="submit">Iniciar de sesi&oacute;n</button>
    <br/>
    {% with messages = get_flashed_messages(with_categories=True)  %}
      {% if messages %}
      <br/>
      {% for category, message in messages %}

      {% if category == 'warning' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong style="font-size: 14px;">{{ message }}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong style="font-size: 14px;">{{ message }}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
        
      {% endfor %}
      {% endif %}
    {% endwith %}

</form>

{% block customJS %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
{% endblock %}